      <!-- links to our parental sites-->
        <div class="row justify-content-center">
            <h5 class="display-5 font-weight-light">Follow more info about Cricket on public sites <span class="font-italic font-weight-bold">ICC</span> On social</h5>
            <p class="mt-5 mb-3 text-muted">&copy; {{getCurrentYear}}</p>
        </div>
        <!--  links to Parent Sites-->
        <div class="row justify-content-center">
            <ul class="d-flex flex-row list-unstyled">
                <li>
                    <a class="footer-style-facebook" href="https://www.facebook.com/icc/" target="external"><i class="fa fa-facebook-square fa-2x"></i>&nbsp;</a>
                </li>
                <li>
                    <a class="footer-style-twitter" href="https://twitter.com/ICC" target="external"><i class="fa fa-twitter-square fa-2x"></i>&nbsp;</a>
                </li>
                <li>
                    <a class="footer-style-instagram" href="https://www.instagram.com/icc/" target="external"><i class="fa fa-instagram fa-2x"></i>
                    </a>
                </li>
            </ul>
        </div>