    <header>
        <div class="jumbotron bgMediumImage" id="headerDiv">
            <div class="container text-right">
                <h1 class="trend-title display-5 text-white font-italic">{{title}}</h1>
                <h2 class="font-italic display-5 text-white font-weight-light">Bring in/Team Skills, Social Skills and Interactions</h2>
            </div>
        </div>
    </header>